<div class="container my-5">
    <form [formGroup]="form" (submit)="submit()">
      <h1 class="mb-3">Login</h1>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>

      <button class="btn btn-primary me-3" (click)="redirectToRegister()">Register</button>
      <button class="btn btn-primary " (click)="redirectToTickets()">Login</button> 

    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>
  